#container {
    background-color: #ddd;
    max-width: calc(100vw - 180px);
    height: fit-content;
    padding: 10px;
    text-justify: distribute;
}

/*.empleados-flex {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
}*/

.box-container {
    background-color: white;
    border-radius: 15px;
    margin: 5px 15px;
    padding: 10px 5px;
}

.title {
    text-align: left;
    padding-left: 25px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 50px;
    justify-content: center;
    gap: 25px;
}

.overflow {
    max-height: fit-content;
}

button {
    padding: 15px;
    border-radius: 10px;
    border: 0px solid;
    background-color: #333;
    color: #ddd;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: .15s ease-out;
}

button:hover {
    background-color: brown;
}

.video-container {
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(221,221,221,1) 100%);
}