.employee-card {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-out;
    margin: 5px;
    list-style-type: none;
    height: 220px;
    width: 150px;
    position: relative;
    left: 0px;
    top: 0px;
    filter: grayscale(70%);
}

.employee-card:hover {
    box-shadow: 3px 3px 7px rgba(163, 0, 0, 0.39);
    cursor: default;
    left: -3px;
    top: -3px;
    filter: grayscale(0%);
}

.employee-photo {
    object-fit: fill;
    width: 150px;
    border-radius: 15px 15px 0 0;
}

.employee-data {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#name {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

