#alert-container {
    background-color: rgba(255, 255, 0, 0.486);
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.301);
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.buttons button {
    padding: 15px;
    border-radius: 10px;
    border: 0px solid;
    background-color: #333;
    color: #ddd;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: .15s ease-out;
}

.buttons button:hover {
    background-color: brown;
}

.hidden-container {
    display: none;
}