#sidebar {
    background-color: #777;
    text-align: left;
    min-width: 180px;
    padding-top: 20px;
    color: white;
}

#sidebar h3 {
    margin: 25px 0 5px 0;
    padding-left: 20px;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    padding: 0px 0px 5px 20px
}

#sidebar ul li:hover {
    background-color: #aaa;
}